/* Your Website Styles */
body {
	background: #C5C77F;
	font-family: "Roboto" sans-serif;
	font-size: 16px;
}

header {
	width:100vw;
}



h1	{
	display: inline-block;
	color: #808;
	background: #2F045D;
	border-radius: 0 0 15px 15px;
	float: left;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 10vmin;
	margin: 0;
	padding: 1vw;
	width: 100vw;
	
	}

div.self {
	background: url("../img/couch-slice.jpg") repeat;
	background-position: bottom;
	background-size: .97vw;
	width: 100vw;
}


img.selfie-right {
	float: right;
}


/*SKILLS Z-index 20-40*/
section.skills, section.education, section.experience, section.other, footer {
	width: 100vw;
}
.skills .adobe p {
	color:#000;
	text-align: center;
	background: darkred;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	width: 10vmin;
	height: 10vmin; 
	line-height: 10vmin;
	padding: 1vmax;
	position: relative;
	float:right;
	left:-75vmin;
	z-index: 30;

	}
.skills p {
	text-align: center;
	background: blue;
	color: #fff;
	opacity:.7;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 1.5vmax;
	border-radius: 50%;
	width: 20vmin;
	height: 20vmin; 
	line-height: 20vmin;
	padding: 1vmax;
	position: relative;
	float:left;
	z-index: 20;

	}

/*EDUCATION Z-index 1-9 */
.education p {
	text-align: center;
	background: blue;
	color: #fff;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 1.75vmax;
	border-radius: 50%;
	width: 55vmin;
	height: 55vmin; 
	line-height: 50vmin;
	padding: 3vmax;
	position: relative;
	float:left;
	z-index: 1;
	}

#ewu	{
	background: red;
	opacity:.7;
	top: 5vmin;
	left: 6vmin;
	position: relative;
	z-index: 4;
}
#sca	{
	background: darkgreen;
	top: 40vmin;
	left: 2vmin;
	position: relative;
	z-index: 3;
}

#ucsc	{
	color: darkblue;
	background: gold;
	opacity:.7;
	top: 25vmin;
	left: 8vmin;
	clear:none;
	position: relative;
	z-index: 2;
}
/*EXPERIENCE Z-index 10-19*/

section.experience {
	position:relative;
	top: -40vmin;
	z-index: 10;
}
.experience p {
	text-align: center;
	background: green;
	color:#fff;
	opacity:.8;
	display: block;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	width: 40vmin;
	height: 40vmin; 
	line-height: 40vmin;
	position: relative;
	float:left;
	z-index: 19;
	}

#design {
	background: #808;
	opacity:.7;
	top: 10vh;
	left: -65vmin;
	position: relative;
	z-index: 11;
}

#restaurants {	
	background: #808;
	color:#fff;
	opacity:.7;
	top: -25vmin;
	left: -25vmin;
	position: relative;
	z-index: 14;
	
}

#retail {
	background: #808;
	opacity:.7;
	top: 14vmin;
	left: -7vmin;
	position: relative;
	z-index: 12;	

}

#management {
    background: #808;
	opacity:.7;
	top: -25vmin;
	left: -55vmin;
	position: relative;
	z-index: 15;	
}
			
#life {	
	background: #808;
	opacity:.7;
	top: 5vmin;
	left: 10vmin;
	position: relative;
	z-index: 13;
}



/*OTHER Z-index 41-50 */
.other p {
	text-align: center;
	background: orange;
	color: #fff;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	width: 20vmin;
	height: 20vmin; 
	line-height: 20vmin;
	padding: 1vmax;
	left: 10vmin;
	position: relative;
	float:left;
	z-index: 40;
}

#poetry {
	top:-15vmin;
	left:-5vmin;

}


#bicycles {
	top:-40vmin;
	position: relative;
	z-index: 42;


}


#building {
	top:-55vmin;
	left: -1vmin;
	position: relative;
	z-index: 41;

}


#art {

	top:-85vmin;
	left:-95vmin;

}

/*FOOTER Z-index -1 */
footer p {
	color:#fff;
	background: #2F045D;
	border-radius: 50%;
	height: 15vmin;
	width: 15vmin;
	line-height: 15vmin;
	float:right;
	font-size: 1.5vmin;
	display:block;
	float: left;
	position: relative;
	top: 25vmin;
	left: -100vmin;
}




/*.circle#typo {
	background: blue;
	border-radius: 50%;
	width: 200px;
	height: 200px; */	

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}