/* Your Website Styles */
body {
	background: #C5C77F;
	font-size: 16px;
}
header {
	background: url("../img/couch-slice.jpg") repeat;
	height: 320px;
}


a {
	text-decoration: none;
	color: #34DDDD;
}

p a {
	color: #808;
}

a:visited {
	color: darkgreen;
}

p a:hover {
	font-size: 1.05em;
}

h1	{
	display: inline-block;
	color: #808;
	background: #2F045D;
	border-radius: 0 0 15px 15px;
	float: left;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 4em;
	margin: 0;
	padding: 10px;
	width: 98%;
	
	}

img.selfie-right {
	float: right;
}



div.adobe li {
	text-align: center;
	list-style: none;
	background: red;
	display: block;
	font-family: 'Roboto' sans-serif;
	border-radius: 50%;
	width: 75px;
	height: 75px; 
	line-height: 75px;

}

}
h2 {
	font-family: 'Roboto' sans-serif;
	text-align: center;
	background: blue;
	display: block;
	font-family: 'Roboto' sans-serif;
	border-radius: 50%;
	width: 300px;
	height: 300px; 
	line-height: 300px;

	}

h4 {
	text-align: center;
	background: red;
	display: block;
	font-family: 'Roboto' sans-serif;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	line-height: 200px;
	}

p {
	text-align: center;
	background: green;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	border-radius: 50%;
	width: 175px;
	height: 175px; 
	line-height: 175px;
	

}


	

footer {
	color: #e5d7d4;
		background: #2F045D;
		border-radius: 15px 15px 0 0;
		margin-bottom: 0;
		height: 131px;
		width: 100%;
}	

footer p {
	font-size: 12px;
	margin-left: 10px;
	display:inline;
	float: left;
	position: relative;
	top:75px;
	left:8px;
}

/*.circle#typo {
	background: blue;
	border-radius: 50%;
	width: 200px;
	height: 200px; */	

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}