/* Your Website Styles */

body {
	background: url("../img/hexabump.png") repeat #000;
	
}

article {
	    margin-left: auto;
    	margin-right: auto;
   		position: absolute;
}


header {
  background: url("../img/hexabump.png") repeat #000;
  max-width: 100%;
  max-height:200px;
  text-align:center;
  position:fixed;
  margin-left: auto;
    	margin-right: auto;

}

img {
  display:inline-block;
  margin: 0 auto;
  max-width: 100%;
}



a {
	text-decoration: none;
	color: #34DDDD;
}



a:hover {
	font-size: 1.05em;
}


nav#main {
  background: url("../img/light_alu.png") repeat #000;
  display:inline-block;
  width: 100%;
  max-height: 70px;
  text-align: center;
  margin-bottom: 1%

}

#main ul {
  
  margin-top: 0;

  } 

#main li {
  color:#000;
  font-family: 'Ubuntu' sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 2em;
  display: inline;
  margin: 0 3%;
}


a:link {
 
  text-decoration: none;
  color:#D8D8D8;
}

a:visited{
	color: #e6e6e6;
}

section {
	position:absolute;
	left:15%;
}

/*EDUCATION Z-index 1-9 */


.education p {
	text-align: center;
	background: darkred;
	color: #fff;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 1.75vmax;
	border-radius: 50%;
	width: 65vmin;
	height: 65vmin; 
	letter-spacing: -1px;
	line-height: 65vmin;
	padding: 3vmax;
	position: relative;
	float:left;
	z-index: 1;
	}

#ewu	{
	background: red;
	opacity:.7;
	top: 35vmin;
	left: -15vmin;
	position: absolute;
	z-index: 4;
}


#sca	{
	background: darkgreen;
	opacity:.6;
	top: 75vmin;
	left: 60vmin;
	position: absolute;
	z-index: 3;
}

	#ucsc	{
	color: darkblue;
	background: gold;
	opacity:.6;
	width: 65vmin;
	height: 65vmin; 
	letter-spacing: -1.5px;
	line-height: 65vmin;
	top: 120vmin;
	left: 10vmin;
	clear:none;
	position: absolute;
	z-index: 2;
}


/*SKILLS Z-index 20-40*/
.skills .adobe p {
	color:#000;
	text-align: center;
	background: darkred;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	border: solid brown;
	width: 7vmin;
	height: 7vmin; 
	line-height: 7vmin;
	padding: 1vmax;
	position: relative;
	top: 15vmin;
	z-index: 30;

	}
	/*EXPERIENCE Z-index 10-19*/


.experience p {
	text-align: center;
	color:#fff;
	display: block;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	width: 35vmin;
	height: 35vmin; 
	line-height: 35vmin;
	position: absolute;
	z-index: 19;
	}

#design {
	background: #808;
	opacity:.7;
	top: 37vmin;
	left: 30vmin;
	position: absolute;
	z-index: 11;
}

#restaurants {	
	background: #808;
	color:#fff;
	opacity:.7;
	top: 75vmin;
	left: 95vmin;
	position: absolute;
	z-index: 14;
	
}

#retail {
	background: #808;
	opacity:.7;
	top: 105vmin;
	left: -5vmin;
	position: absolute;
	z-index: 12;	

}

#management {
    background: #808;
	opacity:.7;
	top: 65vmin;
	left: 65vmin;
	position: absolute;
	z-index: 15;	
}
			
#life {	
	background: #808;
	opacity:.7;
	top: 85vmin;
	left: 30vmin;
	position: absolute;
	z-index: 13;
}

.skills p {
	text-align: center;
	background: blue;
	color: #fff;
	opacity:.7;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 1.2vmax;
	border-radius: 50%;
	width: 20vmin;
	height: 20vmin; 
	line-height: 20vmin;
	padding: 1vmax;
	position: absolute;
	float:left;
	z-index: 20;

	}

#typographical {
	top: 40vmin;
	left: 15vmin;
	letter-spacing: -.5px;
	position: absolute;
	z-index: 21;

}

#mechanical {
	background: #000066;
	top:75vmin;
	left: 25vmin;
	position: absolute;
	z-index: 22;
}

#enduring {
	background: #000099;
	top:115vmin;
	left: 40vmin;
	position: absolute;
	z-index: 23;
}

#focused {
	background: #333399;
	top:66vmin;
	left: 55vmin;
	position: absolute;
	z-index: 24;
}


#humorous {
	background: #6666FF;
	top:100vmin;
	left:15vmin;
	position: absolute;
	z-index: 25;
}

#sticktuitive {
	top:98vmin;
	left: 58vmin;
	position: absolute;
	z-index: 26;
}


#handy {
	top:75vmin;
	left: -5vmin;
	position: absolute;
	z-index: 27;
}

#logical {
	background: #0060FF;
	position: absolute;
	left:95vmin;
	top:65vmin;
	z-index: 28;
}

#linear {
	background: #0099FF;
	top:140vmin;
	left: 75vmin;
	position: absolute;
	z-index: 99;

}

/*OTHER Z-index 41-50 */
.other p {
	text-align: center;
	background: orange;
	color: #fff;
	opacity:.8;
	display: block;
	font-family: 'Roboto' sans-serif;
	font-size: 2vmax;
	border-radius: 50%;
	width: 20vmin;
	height: 20vmin; 
	line-height: 20vmin;
	padding: 1vmax;
	left: 10vmin;
	position: absolute;
	float:right;
	z-index: 40;
}
#poetry {
	top:125vmin;
	left:70vmin;
	position: absolute;
	z-index: 43;
}


#bicycles {
	top:130vmin;
	left: 90vmin;
	position: absolute;
	z-index: 42;


}


#building {
	top: 90vmin;
	left: -1vmin;
	position: absolute;
	z-index: 41;

}


#art {

	top:43vmin;
	left:90vmin;
	position: absolute;
	z-index: 44;

}

/*FOOTER Z-index -1 */


footer p {
	text-align: center;
	color:#fff;
	background: darkgrey;
	border-radius: 50%;
	height: 20vmin;
	width: 20vmin;
	line-height: 20vmin;
	font-size: 1.5vmin;
	display:block;
	opacity:.2;
	position: absolute;
	top:170vmin;
	left:110vmin;

	float:left;
	z-index: 100;
}

.contact {
	background: #000;
	border-radius:50%;
	width: 20vmin;
	height: 20vmin; 
	line-height: 20vmin;
  	padding: 1%;
  	display: block;
  	position:absolute;
  	top:195vmin;
	 left:15vmin;
	  z-index: 101;
}

.contact a {
  background: #fff;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin; 
  color:#000;
  opacity:.8;
  font-size: 8vmin;
  transition: 1.5s ease-in-out;
 
}

.contact a:hover {
  color:grey;

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

nav#main {
  height: 30px;
  width: 100%;
}
#main li {
  color:#000;
  font-family: 'Ubuntu' sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  display: inline;
  margin: 0% 3%;

}
.container {
	width:100%;
}

 
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  
  

}
/* Styles */
}

